.user {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tag {
    border-radius: 50%;
    object-fit: cover;
}

.location {
    list-style: none;
    padding: 0;
    margin: 0;
}

.item {
    display: flex;
    justify-content: left;
    margin: 5px 0;
}
